<!-- <table>
    <tbody>
        <tr *ngFor="let article of news"> <td>{{ article.title }} </td></tr>
    </tbody>
</table> -->

<div class="accordion" id="accordionExample">
  <div class="accordion-item" *ngFor="let article of news">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{ article.title }}        
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>{{ article.description }}</strong>
      </div>
    </div>
  </div>
</div>